<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sayyaf.homecare">

    <!-- permissions needed for webRTC realtime chat -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- permissions needed for google map api -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".notifications.NotificationChannels"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".accounts.LaunchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".contacts.ContactUpdateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".requests.RequestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".communication.VideoCallScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".communication.VoiceCallScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".communication.IncomingCallActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".contacts.ContactChatActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".communication.ChatActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".accounts.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".accounts.AccountRegisterActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".mapping.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mapping.TrackingActivity"
            android:label="@string/title_activity_tracking"
            android:screenOrientation="portrait" />

        <activity
            android:name=".notifications.EmergencyCallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".notifications.EmergencyAttentionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".options.OptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".options.UpdateEmailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".options.UpdatePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".options.ProfileImageActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".mapping.TrackingService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notifications.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notifications.EmergencyMsgListener"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".communication.SinchService"
            android:enabled="true" />
    </application>

</manifest>
